body {
  background-color: white;
  font-family: "Spartan", sans-serif;
  font-weight: 400;
}

.container {
  padding: 7% 7% 10% 7%;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 150px;
  gap: 70px;
}

.top-background-img {
  position: absolute;
}

.heading-section .title {
  color: hsl(300, 43%, 22%);
  font-size: 40px;
  width: 60%;
}

.heading-section .description {
  opacity: 60%;
  width: 72%;
  font-size: 14px;
}

.rating-section .rating {
  background-color: hsl(300, 24%, 96%);
  width: 100%;
  padding: 20px;
  border-radius: 7px;
}

.rating-section p {
  color: hsl(300, 43%, 22%);
  font-weight: 700;
  font-size: 12px;
}

.tab-one {
  position: relative;
  top: 20px;
  right: 170px;
}

.tab-two {
  position: relative;
  top: 25px;
  right: 120px;
}

.tab-three {
  position: relative;
  top: 30px;
  right: 70px;
}

.cards-section {
  grid-column: span 2;
  margin-top: 50px;
  display: flex;
}

.card {
  background-color: hsl(300, 43%, 22%);
  color: white;
  margin: 10px;
  padding: 45px 35px;
  border-radius: 15px;
}

.profile-img {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  float: left;
  margin-right: 30px;
}

.card-description {
  font-size: 13px;
  line-height: 2;
  word-spacing: 2px;
}

.card-one {
  position: relative;
  top: 60px;
}

.card-two {
  position: relative;
  top: 100px;
}

.card-three {
  position: relative;
  top: 120px;
}

h4 {
  line-height: 0px;
}

h5 {
  line-height: 0px;
  opacity: 30%;
}

.bottom-background-img {
  position: absolute;
  top: 150px;
  right: 1px;
}
